 .search-bar {
   display: flex;
   align-items: center;
 }

 .search-input-container {
   position: relative;
   width: 300px;
 }

 .search-input {
   width: 100%;
   padding: var(--spacing-2) var(--spacing-3);
   padding-right: var(--spacing-6);
   border-radius: 20px;
   border: 1px solid var(--neutral-300);
   font-size: 0.9rem;
   transition: all 0.2s ease;
   background-color: var(--neutral-50);
 }

 .search-input:focus {
   outline: none;
   border-color: var(--primary-400);
   box-shadow: 0 0 0 2px rgba(33, 150, 243, 0.1);
   background-color: white;
 }

 .clear-button {
   position: absolute;
   right: 8px;
   top: 50%;
   transform: translateY(-50%);
   background: none;
   border: none;
   font-size: 1.2rem;
   color: var(--neutral-500);
   cursor: pointer;
   height: 20px;
   width: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0;
   border-radius: 50%;
 }

 .clear-button:hover {
   background-color: var(--neutral-200);
   color: var(--neutral-800);
 }

 @media (max-width: 576px) {
   .search-input-container {
     width: 100%;
   }
 }